@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --second: #ffffff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body
{
  margin: auto;
  max-width: 1200px;
}
.box-blur{
background: rgba(255, 255, 255, 0.91);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
}
.my-hover{
  @apply transition-all duration-500 ease-in
}
.font-vazir{
  @apply font-[family-name:var(--font-vazirmatn)] font-light
}
.font-marhey{
  @apply font-[family-name:var(--font-marhey)] font-medium
}
.prograss-bar{
  @apply bg-black dark:bg-white text-center  
}
.prograss-bar-lable{
  @apply text-white dark:text-black
}
.card{
  @apply flex items-center gap-2 flex-col w-[385px] h-[400px] m-1 rounded-lg p-px shadow-3xl overflow-hidden 
}
.card img{
  @apply h-[320px]
}
.card a{
  @apply bg-primary text-second px-4 py-2 flex items-center gap-2 rounded-lg dark:text-primary dark:bg-second my-hover hover:opacity-50
}
.lable{
  @apply absolute pointer-events-none top-[10px] left-[12px] text-gray-400 transition-all duration-100 ease-in bg-second dark:bg-primary
}
.input:focus ~ .lable{
 @apply top-[-15px] left-1
}
.input:valid ~ .lable{
 @apply top-[-15px] left-1
}
.input{
  @apply w-full p-2 border  border-gray-400 rounded-lg outline-none dark:bg-primary 
}
